<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{{ page.title }} - Pavel Volgarev</title>
        <link rel="shortcut icon" href="/assets/img/avatar_16x16.png" />
        <link rel="alternate" type="application/rss+xml" href="/feed.xml" />

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="{{ page.description }}" />
        <meta name="keywords" content="volgarev, pavel, software, distributed systems, frontend, backend" />

        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:url" content="{{ page.url }}" />
        <meta property="og:description" content="{{ page.description }}" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="/assets/img/avatar_128x128.png" />

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700" type="text/css" media="all" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:700" type="text/css" media="all" />

        <link rel="stylesheet" href="/assets/css/normalize.css" type="text/css" />
        <link rel="stylesheet" href="/assets/css/default.css" type="text/css" />
        <link rel="stylesheet" href="/assets/css/print.css" type="text/css" media="print" />
    </head>

    <body>
        <header>
            <nav id="top-navigation">
                <ul>
                    <li><a href="/">home</a></li>
                    <li><a href="/profile">profile</a></li>
                    <li><a href="/contact">contact</a></li>
                </ul>
                <div class="clear"></div>
            </nav>

            {{ page.header }}
        </header>

        <div id="content">
            <div class="wrapper">
                {{ content }}
            </div>

            <div class="print-friendly">
                <a href="/feed.xml">RSS feed</a>
            </div>
        </div>

        <script>
            var _gaq = _gaq || [];

            _gaq.push(['_setAccount', 'UA-39164659-1']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </body>
</html>